.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.layer {
  /*border: 1px solid #999;*/
  /*margin-bottom: 5px;*/
  /*text-align: left;*/
  /*padding: 10px;*/
}
.layer_act {
  width: 600px;
  float: right;
}
.ltconv {
  background-color: #FDD;
}
.ltitle {
  color: #333;
  font-size: 18px;
}
.actmap {
  margin: 1px;
}
#trainstats {
  text-align: left;
}
.clear {
  clear: both;
}

/* Custom panel-heading colors in the panel components*/
.panel-default > .panel-heading-custom1{
  background-image: none;
  background-color: #28bc9d;
  color: #ffffff;
}
.panel-default > .panel-heading-custom2{
  background-image: none;
  background-color: #ed6b71;
  color: #ffffff;
}
.panel-default > .panel-heading-custom3{
  background-image: none;
  background-color: #f0ad4e;
  color: #ffffff;
}
/* End custom panel-heading colors */

.secpart {
  width: 400px;
  float: left;
}
#lossgraph {
  /*border: 1px solid #F0F;*/
  width: 100%;
}
.testdiv canvas {
  float: left;
  width: 64px;
}
.testdiv {
  background-color: rgba(255,255,255,0.75);
  height: auto;
  width: auto;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0px 0px 2px 2px #EEE;
  margin: 5px;
  padding: 5px;
  color: black;
}
.probsdiv {
  float: left;
  width: 100px;
  margin-left: 1px;
}
.pp {
  margin: 1px;
  padding: 1px;
}
#testset_acc {
  /* margin-bottom: 200px; */
}
#testset_vis {
  margin-bottom: 200px;
}
/*body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #333; 
   padding: 20px; 
}*/

/*.container{
  width: 100%;
}*/